.weather-container {
  background: rgba(255, 255, 255, 0.3);
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.city-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.weather-result {
  margin-top: 20px;
  text-align: left;
}

pre {
  background: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

#weather-info {
  font-size: 20px;
}

#weather-icon {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  display: none;
}

#hourly-forecast {
  margin-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.forecast-item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  width: 80px;
  text-align: center;
}

.forecast-item p {
  margin: 0;
}
