@import 'src/assets/css/weather-icons.min.css';

.weather-container {
  background: rgba(218, 216, 221, 0.32);
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.city-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.weather-result {
  margin-top: 20px;
  text-align: center;

  #hourly-forecast {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
  }

  .temperature {
    font-size: 50px;
    font-family: Al Bayan;
    color: white;
  }
}

.weather-result i {
  font-size: 48px;
  color: #007bff;
  margin: 10px 0;
}

.temperature-container {
  .feels-like {
    color: #85aafa;
  }
  .temp {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1px;

    .min-temp {
      padding-right: 10px;
    }
  }
}


